<h1>Listing Authreversals</h1>

<table>
  <tr>
    <th>MerchantID</th>
    <th>MerchantTranscationID</th>
    <th>ReportGroup</th>
    <th>LitleTranscationID (From Authorization LitleTranscationID)</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authreversals.each do |authreversal| %>
  <tr>
    <td><%= authreversal.merchantid %></td>
    <td><%= authreversal.merchanttxnid %></td>
    <td><%= authreversal.reportgroup %></td>
    <td><%= authreversal.litletxnid %></td>
    <td><%= authreversal.amount %></td>
    <td><%= link_to 'Edit', edit_authreversal_path(authreversal) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'back', root_path %>
