<h1>Listing Authorizations</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>CardNumber</th>
    <th>CardMonth</th>
    <th>CardYear</th>
    <th>Cvv</th>
    <th>Address1</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Zip</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.amount %></td>
    <td><%= order.firstname %></td>
    <td><%= order.lastname %></td>
    <td><%= order.cardnumber %></td>
    <td><%= order.cardmonth %></td>
    <td><%= order.cardyear %></td>
    <td><%= order.cvv %></td>
    <td><%= order.address1 %></td>
    <td><%= order.city %></td>
    <td><%= order.state %></td>
    <td><%= order.country %></td>
    <td><%= order.zip %></td>
    <td><%= order.email %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to button_tag('Home'), root_path%>
