<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
   </div>
  <% end %>
  <h4>Order Information</h4>
  <div class="field">
    <%= f.label :litletxnid %><br />
    <%= f.text_field :litletxnid %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
