<%= form_for(@void) do |f| %>
  <% if @void.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@void.errors.count, "error") %> prohibited this void from being saved:</h2>

      <ul>
      <% @void.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :litletxnid %><br />
    <%= f.text_field :litletxnid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
